@import url("duzenleme.css");
* {
    padding: 0;
    margin: 0;
}

body {
    overflow-y: hidden;
    background-color:#fffacd;
}

.banner {
    width: 100%;
    position: relative;
    display: block;
    top: -25px;
}

.biriki:hover ul {
    background-color: #3444da;
    display: block;
}

.birbir {
    background-color: #3444da;
    display: none;
} 
.birbir {
    list-style: none;
}

.banner img {
    /*position: relative;
    display: block;
    top: -25px;*/
    width: 100%;
}

.menu li {
    text-align: center;
    padding: 10px 0 10px 0;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu {
    position: relative;
    display: inline-block;
    top: -30px;
    width: 15%;
    height: 650px;
    background-color: #fc3b3b;
    float: left;
}* {
    padding: 0;
    margin: 0;
}

body {
    overflow-y: hidden;
    background-color:#fffacd;
}

.banner {
    width: 100%;
    position: relative;
    display: block;
    top: -25px;
}

.biriki:hover ul {
    background-color:  #3444da;
    display: block;
}

.birbir {
    background-color:  #3444da;
    display: none;
} 
.birbir {
    list-style: none;
}

.banner img {
    /*position: relative;
    display: block;
    top: -25px;*/
    width: 100%;
}

.menu li {
    text-align: center;
    padding: 10px 0 10px 0;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu {
    position: relative;
    display: inline-block;
    top: -30px;
    width: 15%;
    height: 650px;
    background-color: #fc3b3b;
    float: left;
}* {
    padding: 0;
    margin: 0;
}

body {
    overflow-y: hidden;
    background-color: #fffacd;
}

.banner {
    width: 100%;
    position: relative;
    display: block;
    top: -25px;
}

.biriki:hover ul {
    background-color:  #3444da;
    display: block;
}

.birbir {
    background-color: #3444da;
    display: none;
} 
.birbir {
    list-style: none;
}

.banner img {
    /*position: relative;
    display: block;
    top: -25px;*/
    width: 100%;
}

.menu li {
    text-align: center;
    padding: 10px 0 10px 0;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu {
    position: relative;
    display: inline-block;
    top: -30px;
    width: 15%;
    height: 650px;
    background-color: #fc3b3b;
    float: left;
}* {
    padding: 0;
    margin: 0;
}

body {
    overflow-y: hidden;
    background-color:#fffacd;
}

.banner {
    width: 100%;
    position: relative;
    display: block;
    top: -25px;
}

.biriki:hover ul {
    background-color: #3444da;
    display: block;
}

.birbir {
    background-color: #3444da;
    display: none;
} 
.birbir {
    list-style: none;
}

.banner img {
    /*position: relative;
    display: block;
    top: -25px;*/
    width: 100%;
}

.menu li {
    text-align: center;
    padding: 10px 0 10px 0;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu {
    position: relative;
    display: inline-block;
    top: -30px;
    width: 15%;
    height: 650px;
    background-color: #fc3b3b;
    float: left;
}* {
    padding: 0;
    margin: 0;
}

body {
    overflow-y: hidden;
    background-color: #fffacd;
}

.banner {
    width: 100%;
    position: relative;
    display: block;
    top: -25px;
}

.biriki:hover ul {
    background-color: #3444da;
    display: block;
}

.birbir {
    background-color: #3444da;
    display: none;
} 
.birbir {
    list-style: none;
}

.banner img {
    /*position: relative;
    display: block;
    top: -25px;*/
    width: 100%;
}

.menu li {
    text-align: center;
    padding: 10px 0 10px 0;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu {
    position: relative;
    display: inline-block;
    top: -30px;
    width: 15%;
    height: 650px;
    background-color: #fc3b3b;
    float: left;
}* {
    padding: 0;
    margin: 0;
}

body {
    overflow-y: hidden;
    background-color: #fffacd;
}

.banner {
    width: 100%;
    position: relative;
    display: block;
    top: -25px;
}

.biriki:hover ul {
    background-color: #3444da;
    display: block;
}

.birbir {
    background-color: #3444da;
    display: none;
} 
.birbir {
    list-style: none;
}

.banner img {
    /*position: relative;
    display: block;
    top: -25px;*/
    width: 100%;
}

.menu li {
    text-align: center;
    padding: 10px 0 10px 0;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu {
    position: relative;
    display: inline-block;
    top: -30px;
    width: 15%;
    height: 650px;
    background-color: #fc3b3b;
    float: left;
}* {
    padding: 0;
    margin: 0;
}

body {
    overflow-y: hidden;
    background-color: #fffacd;
}

.banner {
    width: 100%;
    position: relative;
    display: block;
    top: -25px;
}

.biriki:hover ul {
    background-color: #3444da;
    display: block;
}

.birbir {
    background-color: #3444da;
    display: none;
} 
.birbir {
    list-style: none;
}

.banner img {
    /*position: relative;
    display: block;
    top: -25px;*/
    width: 100%;
}

.menu li {
    text-align: center;
    padding: 10px 0 10px 0;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu {
    position: relative;
    display: inline-block;
    top: -30px;
    width: 15%;
    height: 650px;
    background-color: #fc3b3b;
    float: left;
}* {
    padding: 0;
    margin: 0;
}

body {
    overflow-y: hidden;
    background-color: #fffacd;
}

.banner {
    width: 100%;
    position: relative;
    display: block;
    top: -25px;
}

.biriki:hover ul {
    background-color: #3444da;
    display: block;
}

.birbir {
    background-color: #3444da;
    display: none;
} 
.birbir {
    list-style: none;
}

.banner img {
    /*position: relative;
    display: block;
    top: -25px;*/
    width: 100%;
}

.menu li {
    text-align: center;
    padding: 10px 0 10px 0;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu {
    position: relative;
    display: inline-block;
    top: -30px;
    width: 15%;
    height: 650px;
    background-color: #fc3b3b;
    float: left;
}* {
    padding: 0;
    margin: 0;
}

body {
    overflow-y: hidden;
    background-color:#fffacd;
}

.banner {
    width: 100%;
    position: relative;
    display: block;
    top: -25px;
}

.biriki:hover ul {
    background-color: #3444da;
    display: block;
}

.birbir {
    background-color: #3444da;
    display: none;
} 
.birbir {
    list-style: none;
}

.banner img {
    /*position: relative;
    display: block;
    top: -25px;*/
    width: 100%;
}

.menu li {
    text-align: center;
    padding: 10px 0 10px 0;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu {
    position: relative;
    display: inline-block;
    top: -30px;
    width: 15%;
    height: 650px;
    background-color: #fc3b3b;
    float: left;
}